form {
  display: flex;
  padding: 10px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(23, 62, 67, 1) 35%, rgb(9, 29, 28) 100%);
}
.input {
  margin-right: 10px;
}
.frame {
  width: 40vw;
  max-width: 400px;
  border-radius: 20px;
  background: linear-gradient(0deg, rgb(250, 229, 150) 100%, rgba(221, 223, 212, 1) 35%);
}

.frame-form {
  margin-top: 2%;
}

.header {
  display: inline;
  text-align: center;
}

.list-wrapper {
  max-height: 200px;
  overflow-y: auto;
}
.check{
  padding-right: 10px;
}
.items {
  padding: 2%;
}

